{% macro recaptcha() %}
    <input type="hidden" id="g-recaptcha" name="g-recaptcha-response" value="">

    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ google_recaptcha_site_key}}', {action: ''})
                .then(function(token) {
                document.getElementById('g-recaptcha').value = token;
                console.log(token);
            });
        });
    </script>
{% endmacro %}
