<div class="event_item">
    <div class="media">
        <div class="d-flex">
            {% if event.imgFile %}
                <img src="{{ vich_uploader_asset(property,'imageFile')| imagine_filter('thumb') }}"
                     alt="{{ event.slug }}" class="img-fluid">
            {% else %}
                <img src="{{ asset('media/event/empty.png') | imagine_filter('thumb') }}" alt="" class="img-fluid">
            {% endif %}
        </div>
        <div class="media-body">
            <a href="{{ path('event_details.public',{'slug':event.slug}) }}">{{ event.startDate|date() }}</a>
            <a href="{{ path('event_details.public',{'slug':event.slug}) }}"><h4>{{ event.title }}</h4></a>
            <p>{{ event.extrait |nl2br|raw }}</p>
        </div>
    </div>
</div>
