{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    {{ 'label.menu.event'|trans }}
{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ 'label.upcoming.events'|trans }}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('event.public') }}">{{ 'label.menu.event'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Event Main Area =================-->
    <section class="event_main_area p_120">
        <div class="container">
            <div class="row event_main_inner">
                {% for event in events %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{ include('event/_eventCard.html.twig') }}
                    </div>
                {% endfor %}
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        {{ knp_pagination_render(events) }}
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
    <!--================End Event Main Area =================-->
{% endblock %}