{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    {{ 'label.menu.home'|trans }}
    -
    {{ 'lahel.home.slogan'|trans }}
{% endblock %}

{% block body %}

    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    {#                    <h5>We need your Help to serve the people</h5>#}
                    <h3>{{ 'label.banniere_title'|trans }}</h3>
                    <h3>{{ 'label.our_priority'|trans }}</h3>
                    {#                    <p>If you are looking at blank cassettes on the web, you may be very confused at the <br/>#}
                    {#                        difference in price. You may see some for as low as $.17 each.</p>#}
                    <a class="main_btn" href="{{ path('donate_now.public') }}">{{ 'label.menu.donate_now'|trans }}</a>
                    <a class="white_btn" href="{{ path('event.public') }}">{{ 'label.menu.event'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="donation_area">
            <div class="container">
                <div class="row donation_inner ">
                    <div class="col-lg-6 mb-2">
                        <div class="dontation_item yellow" style="min-height: 300px">
                            <div class="media">
                                <div class="media-body mh-100">
                                    <h2 class="text-uppercase">{{ 'label.support_a_campagn'|trans }}</h2>
                                    <p class="font-weight-bolder" style="font-size: 1.5rem;line-height:
                                    2rem">{{'label.support_a_campagn_details'|trans}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="dontation_item green" style="min-height: 300px">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="text-uppercase">{{ 'label.general_donation'|trans }}</h2>
                                    <p class="font-weight-bolder" style="font-size: 1.5rem;line-height:
                                    2rem">{{'label.general_donation_details'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="dontation_item pink" style="min-height: 300px">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="text-uppercase">{{ 'label.become_a_member'|trans }}</h2>
                                    <p class="font-weight-bolder" style="font-size: 1.5rem;line-height:
                                    2rem">{{'label.become_a_member_details'|trans}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="dontation_item blue" style="min-height: 300px">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="text-uppercase">{{ 'label.take_part_in_event'|trans }}</h2>
                                    <p class="font-weight-bolder" style="font-size: 1.5rem;line-height:
                                    2rem">{{ 'label.take_part_in_event_details'|trans }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <!-- <section class="welcome_area p_120"> <div class="container"> <div class="row welcome_inner"> <div class="col-lg-6"> <div class="welcome_text"> <h4>Welcome to Kindity</h4> <p>inappropriate behavior is often laughed off as “boys will be boys,”
    women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p> <div class="row"> <div class="col-sm-4"> <div
    class="wel_item"> <i class="lnr lnr-database"></i> <h4>$2.5M</h4> <p>Total Donation</p> </div> </div> <div class="col-sm-4"> <div class="wel_item"> <i class="lnr lnr-book"></i> <h4>1465</h4> <p>Total Projects</p> </div> </div> <div class="col-sm-4">
    <div class="wel_item"> <i class="lnr lnr-users"></i> <h4>3965</h4> <p>Total Volunteers</p> </div> </div> </div> </div> </div> <div class="col-lg-6"> <div class="welcome_img"> <img class="img-fluid" src="{{ asset('public/img/welcome-img.jpg') }}"
    alt=""> </div> </div> </div> </div> </section> -->
    <!--================End Welcome Area =================-->

    <!--================Causes Area =================-->
{#    {{ render(controller('App\\Controller\\HomeController::causes')) }}#}
    <!--================End Causes Area =================-->
    <!--================Causes Area =================-->
{#    {{ render(controller('App\\Controller\\HomeController::shop')) }}#}

    <!--================End Causes Area =================-->
    <!--================Event Area =================-->
{#    {{ render(controller('App\\Controller\\HomeController::events')) }}#}

    <!--================End Event Area =================-->

    <!--================Clients Logo Area =================-->
    <section class="clients_logo_area">
        <div class="container">
            <h4>Sponsors</h4>
            <div class="clients_slider owl-carousel">
                <div class="item">
                    <img src="{{ asset('public/img/clients-logo/c-logo-1.png') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('public/img/clients-logo/c-logo-2.png') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('public/img/clients-logo/c-logo-3.png') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('public/img/clients-logo/c-logo-4.png') }}" alt="">
                </div>
                <div class="item">
                    <img src="{{ asset('public/img/clients-logo/c-logo-5.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--================End Clients Logo Area =================-->
{% endblock %}
