{% if events.items is not empty %}
    <section class="event_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Upcoming Events</h2>
                <p>If you are a serious astronomy fanatic like a lot of us are, you can probably <br/> remember that one
                    event in childhood that started.</p>
            </div>
            <div class="event_slider owl-carousel">
                {% for event in events %}
    <div class="item">
        {{ include('event/_eventCard.html.twig') }}
    </div>
{% endfor %}
            </div>
        </div>
    </section>

{% endif %}