{% if products.items is not empty %}

<section class="causes_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>{{ 'label.title.shop'|trans }}</h2>
                <p>.</p>
            </div>
            <div class="causes_slider owl-carousel">
                {% for product in products %}
    <div class="item">
        {{ include('shop/_productCard.html.twig') }}
    </div>
{% endfor %}
            </div>
        </div>
    </section>
    {% endif %}