{% if causes.items is not empty %}
<section class="causes_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>{{'label.our_majour_causes'|trans}}</h2>
            <p></p>
        </div>
        <div class="causes_slider owl-carousel">
         {% for cause in causes %}
		    <div class="item">
		        {{ include('cause/_causeCard.html.twig') }}
		    </div>
		{% endfor %}
        </div>
    </div>
</section>
{% endif %}