
<!--================Clients Logo Area =================-->
<section class="clients_logo_area">
    <div class="container">
        <h4>Sponsors</h4>
        <div class="clients_slider owl-carousel">
            <div class="item">
                <img src="{{ asset('public/img/clients-logo/c-logo-1.png') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('public/img/clients-logo/c-logo-2.png') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('public/img/clients-logo/c-logo-3.png') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('public/img/clients-logo/c-logo-4.png') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('public/img/clients-logo/c-logo-5.png') }}" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Clients Logo Area =================-->