<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
    <div class="container">
        <div class="row testimonials_inner">
            <div class="col-lg-4">
                <div class="testi_left_text">
                    <h4>Testimonial from our Donors</h4>
                    <p>Las Vegas has more than 100,000 hotel rooms to choose from. There is something for every budget, and enough.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="testi_slider owl-carousel">
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-1.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-2.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-1.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-2.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-1.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <img src="{{ asset('public/img/testimonials/testi-2.png') }}" alt="">
                            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                            <h4>Cordelia Barton</h4>
                            <h6>CEO at Google</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->