{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Cause details{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Event Details</h2>
                    <div class="page_link">
                        <a href="#">Home</a>
                        <a href="event.html">Events</a>
                        <a href="event-details.html">Events Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Event Details Area =================-->
    <section class="event_details_area p_120">
        <div class="container">
            <div class="event_d_inner">
                <img class="img-fluid" src="img/event/event-details.jpg" alt="">
                <div class="row event_text_inner">
                    <div class="col-lg-4">
                        <div class="left_text">
                            <ul class="list">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i>Saturday, 5th may, </a></li>
                                <li><a href="#"><i class="lnr lnr-apartment"></i>Rocky beach church</a></li>
                                <li><a href="#"><i class="lnr lnr-location"></i> Los Angeles, USA</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="right_text">
                            <h4>Spreading Peace to world</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Event Details Area =================-->
{% endblock %}
