{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    Causes{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Causes</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">Home</a>
                        <a href="{{ path('cause.public') }}">Causes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Causes Main Area =================-->
    <section class="event_main_area p_120">
        <div class="container">
            <div class="row event_main_inner">
                {% for cause in causes %}
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {{ include('cause/_causeCard.html.twig') }}
                    </div>
                {% endfor %}
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        {{ knp_pagination_render(causes) }}
                    </ul>
                </nav>
            </nav>
        </div>
    </section>
    <!--================End Causes Main Area =================-->
{% endblock %}