{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ 'label.menu.donate_now'|trans }}
{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Donation</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('donate_now.public') }}l">{{ 'label.menu.donate_now'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Donation Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="main_title">
                <h2>{{ 'label.menu.donate_now'|trans }}</h2>
                <p>.</p>
            </div>
            <div class="row mb-2 mx-auto">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img class="img-fluid" src="{{ asset('public/img/blog/cat-post/cat-post-3.jpg') }}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="#don_nature" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="don_nature">
                                    <h5>{{ 'label.don_nature'|trans}}</h5>
                                </a>
                                <div class="border_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img class="img-fluid" src="{{ asset('public/img/blog/cat-post/cat-post-2.jpg') }}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="#transfert_mobile" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="transfert_mobile">
                                    <h5>{{ 'label.transfert_mobile'|trans}}</h5>
                                </a>
                                <div class="border_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img class="img-fluid" src="{{ asset('public/img/blog/cat-post/cat-post-1.jpg') }}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="#transfert_bancaire" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="transfert_bancaire">
                                    <h5>{{ 'label.transfert_bancaire'|trans}}</h5>
                                </a>
                                <div class="border_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Donation Categorie Area =================-->
    <!--================Denation Area =================-->
    <section class="donation_f_area">
        <div class="container">
            <div class="row donation_f_inner">
                <div class="col-lg-5">
                    <div class="dn_left_text">
                        <div class="dn_item">
                            <img src="{{ asset('public/img/logo.png') }}" alt=""></a>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
                    </div>
                    <div class="dn_item">
                        <h4>Transperancy All the Way</h4>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
                    </div>
                    <div class="dn_item">
                        <h4>Trustworthy</h4>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-1">
                <div class="dn_form_area collapse" id="don_nature">
                    <form class="donation_form row" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="form-group col-lg-12">
                            <select class="donate_select">
                                <option value="1">Project you want to donate</option>
                                <option value="2">Project you want to donate</option>
                                <option value="4">Project you want to donate</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Donation amount(USD)">
                        </div>
                        <div class="form-group col-lg-12">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" value="submit" class="btn submit_btn form-control">{{ 'label.menu.donate_now'|trans }}</button>
                        </div>
                    </form>
                </div>
                <div class="dn_form_area collapse" id="transfert_mobile">
                    <h1 class="display-1">
                        Transfert Mobile
                    </h1>
                </div>
                <div class="dn_form_area collapse" id="transfert_bancaire">
                    <h1 class="display-1">
                        Transfert bancaire
                    </h1>
                </div>
            </div>
        </div>
        <div class="master_card mb-4">
            <span>We Accept:</span>
            <img src="{{ asset('public/img/master-card.png') }}" alt="">
        </div>
    </div>
</section>
<!--================End Denation Area =================-->{% endblock %}
