<div class="col-lg-4 mb-4">
    <div class="categories_post">
        {% if category.imgFile %}
            <img class="img-fluid" src="{{ vich_uploader_asset(property,'imgFile')| imagine_filter('thumb') }}" alt="{{ category.slug }}">
        {% else %}
            <img class="img-fluid" src="{{ asset('public/img/blog/cat-post/cat-post-3.jpg') }}" alt="post">
        {% endif %}

        <div class="categories_details">
            <div class="categories_text">
                <a href="{{ path('gallery_details.public',{'slug':category.slug}) }}">
                    <h5>{{ category.title }}</h5>
                </a>
                <div class="border_line"></div>
                <p></p>
            </div>
        </div>
    </div>
</div>