{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    Gallery{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{category.title}}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('gallery.public') }}">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Gallery Area =================-->
    <section class="gallery_area p_120">
        <div class="container">
            <div class="row gallery_inner imageGallery1">
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{ asset('public/img/gallery/gallery-1.jpg') }}" alt="">
                        <div class="hover">
                            <a class="light" href="{{ asset('public/img/gallery/gallery-1.jpg') }}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{ asset('public/img/gallery/gallery-2.jpg') }}" alt="">
                        <div class="hover">
                            <a class="light" href="{{ asset('public/img/gallery/gallery-2.jpg') }}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{ asset('public/img/gallery/gallery-3.jpg') }}" alt="">
                        <div class="hover">
                            <a class="light" href="{{ asset('public/img/gallery/gallery-3.jpg') }}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{ asset('public/img/gallery/gallery-4.jpg') }}" alt="">
                        <div class="hover">
                            <a class="light" href="{{ asset('public/img/gallery/gallery-4.jpg') }}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-6.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-6.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="img/gallery/gallery-5.jpg" alt="">
                        <div class="hover">
                            <a class="light" href="img/gallery/gallery-5.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-7.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-7.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-8.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-8.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-9.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-9.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-10.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-10.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-12.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-12.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 gallery_item">
                    <div class="gallery_img">
                        <img src="{{asset('public/img/gallery/gallery-11.jpg')}}" alt="">
                        <div class="hover">
                            <a class="light" href="{{asset('public/img/gallery/gallery-11.jpg')}}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load_btn">
                <a class="main_btn" href="#">Load More Images</a>
            </div>
        </div>
    </section>
    <!--================End Gallery Area =================-->
{% endblock %}