<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                {% for pTag in post.tags %}
                    <a href="#">{{ pTag.name }},</a>
                {% endfor %}
            </div>
            <ul class="blog_meta list">
                <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                <li><a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="{{ asset('public/img/blog/main-blog/m-blog-1.jpg') }}" alt="">
            <div class="blog_details">
                <a href="#"><h2>{{ post.title }}</h2></a>
                <p>{{ post.content|raw }}</p>
                <a href="{{ path('post_details.public',{'slug':post.slug}) }}" class="white_bg_btn">View More</a>
            </div>
        </div>
    </div>
</article>