{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    Blog{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area blog_banner">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <!-- <div class="blog_b_text text-center"> <h2>Dude You’re Getting <br /> a Telescope</h2> <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p> <a class="white_bg_btn" href="#">View More</a> </div> -->
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                            {{ include('blog/_blogCard.html.twig') }}
                        {% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {{ knp_pagination_render(posts) }}
                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="{{ asset('public/img/blog/add.jpg') }}" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                {% for category in categories %}
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>{{ category.title }}</p>
                                            <p>{{ category.posts.count }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                                Here, I focus on a range of items and features that we use in life without giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                {% for tag in tags %}
                                    <li>
                                        <a href="#">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}