<div class="causes_item">
    <div class="causes_img">
        {% if product.imgFile %}
            <img class="img-fluid" src="{{ vich_uploader_asset(property,'imgFile')| imagine_filter('thumb') }}"
                 alt="{{ product.slug }}">
        {% else %}
            <img class="img-fluid" src="{{ asset('media/product/empty.png')| imagine_filter('thumb') }}" alt="">
        {% endif %}
    </div>
    <div class="causes_text">
        <h4>{{ product.title }}</h4>
        <p>{{ product.extrait }}</p>
    </div>
    <div class="product_bottom">
        <a href="#">{{ 'label.price'|trans }}: FCFA </a>
        <a href="#" class="ac_btn">Je suis intéressé</a>
    </div>
</div>