{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'label.menu.about_us'|trans }}{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ 'label.menu.about_us'|trans }}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('about_us.public') }}">{{ 'label.menu.about_us'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_100">
        <div class="container">
            <div class="row welcome_inner align-items-center">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>{{ 'label.title.who-are-we'|trans }}</h4>
                        <p style="font-weight: bolder;" class="text-justify">{{ 'label.title.who-are-we.content'|trans|raw }}</p>
                        <p style="font-weight: bolder;">
                        {{ 'label.title.who-are-we.content_specifique'|trans|raw }}                            
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="welcome_img">
                        <img class="img-fluid" src="{{ asset('media/about_us/martin-bekerman-391453.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner align-items-center">
                <div class="col-lg-6">
                    <div class="welcome_img mx-auto">
                        <img class="img-fluid" src="{{ asset('media/about_us/img3.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>{{ 'label.title.vision'|trans }}</h4>
                        <p style="font-weight: bolder;" class="text-justify">
                            {{ 'label.title.vision_content'|trans|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_100">
        <div class="container">
            <div class="row welcome_inner align-items-center">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>{{ 'label.title.mission'|trans }}</h4>
                        <p style="font-weight: bolder;" class="text-justify">
                            {{ 'label.title.mission.content'|trans|raw }}
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="welcome_img">
                        <img class="img-fluid" src="{{ asset('media/about_us/img4.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome_area p_100">
        <div class="container">
            <div class="row welcome_inner align-items-center">
                <div class="col-lg-6">
                    <div class="welcome_img mx-auto">
                        <img class="img-fluid" src="{{ asset('public/img/welcome-img.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>{{ 'label.title.valeurs'|trans }}</h4>
                        <p style="font-weight: bolder;" class="text-justify">{{ 'label.title.valeurs.content'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->
    <!--================Testimonials Area =================-->
    <section class="testimonials_area p_120">
        <div class="container">
            <div class="row testimonials_inner">
                <div class="col-lg-3">
                    <div class="testi_left_text" style="text-align: center!important">
                        <h4>{{'label.our_team'|trans|raw}}</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="testi_slider owl-carousel">
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testi_item">
                                <img src="{{asset('public/img/testimonials/testi-1.png')}}" alt="">
                                <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
                                <h4>Cordelia Barton</h4>
                                <h6>CEO at Google</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Testimonials Area =================-->
    {{ render(controller('App\\Controller\\PartialsController::sponsors')) }}
{% endblock %}
