<div class="news_item">
    <div class="media">
        <div class="d-flex">
            {% if news.imgFile %}
                <img src="{{ vich_uploader_asset(property,'imgFile')| imagine_filter('thumb') }}" alt="{{ news.slug }}" class="img-fluid">
            {% else %}
                <img src="{{ asset('media/news/empty.jpeg') | imagine_filter('thumb') }}" alt="" class="img-fluid" style="border: solid 2px #00000">
            {% endif %}
        </div>
        <div class="media-body">
            <a href="{{ path('news_details.public',{'slug':news.slug}) }}">{{ news.dateCreated|date() }}</a>
            <a href="{{ path('news_details.public',{'slug':news.slug}) }}">
                <h4>{{ news.title }}</h4>
            </a>
            <p>{{ news.extrait | nl2br }}</p>
        </div>
    </div>
</div>