{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    {{ 'label.menu.news'|trans }}
    |
    {{ news.title }}
{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ news.title }}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('news.public') }}">{{ 'label.menu.news'|trans }}</a>
                        <a href="{{ path('news_details.public',{'slug':news.slug}) }}">{{ news.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================news Details Area =================-->
    <section class="news_details_area p_120">
        <div class="container">
            <div class="news_d_inner">
                {% if news.imgFile %}
                    <img src="{{ vich_uploader_asset(property,'imgFile') }}" alt="{{ news.slug }}" class="img-fluid">
                {% else %}
                    <img src="{{ asset('media/event/empty.png') }}" alt="" class="img-fluid">
                {% endif %}
                <div class="row news_text_inner">
                    <div class="col-lg-4">
                        <div class="left_text">
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        <i class="lnr lnr-calendar-full"></i>{{ news.dateCreated|date() }}
                                    </a>
                                </li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="right_text">
                            <h4>{{ news.title }}</h4>
                            <p>{{ news.content|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End news Details Area =================-->
{% endblock %}