<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('public/img/favicon.png') }}" type="image/png">
    <title>{% block title %}{{ 'label.titre'|trans }} || {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <!-- Bootstrap CSS -->

    {#    <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}">#}
    <link rel="stylesheet" href="{{ asset('public/vendors/linericon/style.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/vendors/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/vendors/lightbox/simpleLightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('public/vendors/nice-select/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('public/vendors/animate-css/animate.css') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('public/css/responsive.css') }}">

    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key}}"></script>

    <style>
        @keyframes bot-to-top {
            0% {
                bottom: -40px
            }
            50% {
                bottom: 40px
            }
        }

        @keyframes scale-in {
            from {
                transform: scale(0);
                opacity: 0;
            }
            to {
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes rotate-in {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        @keyframes rotate-out {
            from {
                transform: rotate(360deg);
            }
            to {
                transform: rotate(0deg);
            }
        }
    </style>
</head>
<body>
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container">
            <div class="float-left">
                <ul class="list header_social">
                    <li><a href="https://www.facebook.com/VoixDesFemmesBenin/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/VoixDesFemmes1" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/voix_des_femmes" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="float-right">
                {% for locale in locales() %}
                    <a {% if app.request.locale == locale.code %} class="dn_btn" {% else %}class="ac_btn" {% endif %}
                            href="{{ path(app.request.get('_route', 'home.public'), app.request.get
                                ('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
                {% endfor %}
                {% if app.user %}
                    <a class="ac_btn" href="{{ path('easy_admin_bundle') }}"> {{ 'label.menu.my_account'|trans }}</a>
                {% else %}
                    <a class="ac_btn" href="{{ path('app_login') }}" target="_blank" rel="noopener noreferrer"> {{ 'label.menu.my_account'|trans }}</a>
                {% endif %}
                <a class="dn_btn" href="{{ path('donate_now.public') }}"> {{ 'label.menu.donate_now'|trans }}</a>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{{ path('home.public') }}">
                    <img src="{{ asset('public/img/logo.png') }}" alt=""></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home.public') }}">
                                {{ 'label.menu.home'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('about_us.public') }}">{{ 'label.menu.about_us'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('news.public') }}">{{ 'label.menu.news'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog.public') }}">{{ 'label.menu.blog'|trans }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('shop.public') }}">{{ 'label.menu.shop'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cause.public') }}">{{ 'label.menu.cause'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('event.public') }}">{{ 'label.menu.event'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact.public') }}">{{ 'label.menu.contact'|trans }}</a>
                        </li>
                    </ul>
                    {#                    <ul class="nav navbar-nav navbar-right">#}
                    {#                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>#}
                    {#                    </ul>#}
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->
{% block body %}{% endblock %}

<!--================ start floating button Area  =================-->
{#<div id="floatingButton">#}
{#    <a href="#" class="float" id="menu-share">#}
{#        <i class="fa fa-share my-float"></i>#}
{#    </a>#}
{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('donate_now.public') }}">#}
{#                <i class="fa fa-facebook my-float">{{ 'label.menu.donate_now'|trans }}</i>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">#}
{#                <i class="fa fa-google-plus my-float"></i>#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="#">#}
{#                <i class="fa fa-twitter my-float"></i>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}
<!--================ start floating button Area  =================-->


<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-2">
                <div class="single-footer-widget">
                    <h6 class="footer_title"> {{ 'label.menu.about_us'|trans }}</h6>
                    <p style="text-align: justify">{{ 'label.title.who-are-we.content'|trans|raw }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Menu</h6>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list">
                                <li><a href="{{ path('home.public') }}"> {{ 'label.menu.home'|trans }}</a></li>
                                <li><a href="{{ path('about_us.public') }}"> {{ 'label.menu.about_us'|trans }}</a></li>
                                <li><a href="{{ path('contact.public') }}"> {{ 'label.menu.contact'|trans }}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Menu</h6>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list">
                                <li><a href="{{ path('news.public') }}"> {{ 'label.menu.news'|trans }}</a></li>
                                <li><a href="{{ path('blog.public') }}"> {{ 'label.menu.blog'|trans }}</a></li>
                                <li><a href="{{ path('cause.public') }}"> {{ 'label.menu.cause'|trans }}</a></li>
                                <li><a href="{{ path('event.public') }}"> {{ 'label.menu.event'|trans }}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-lg-3 col-md-6 col-sm-12">#}
{#                <div class="single-footer-widget">#}
{#                    <h6 class="footer_title">Newsletter</h6>#}
{#                    <p>For business professionals caught between high OEM price and mediocre print and graphic#}
{#                        output, </p>#}
{#                    <div id="mc_embed_signup">#}
{#                        <form target="_blank"#}
{#                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"#}
{#                              method="get" class="subscribe_form relative">#}
{#                            <div class="input-group d-flex flex-row">#}
{#                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''"#}
{#                                       onblur="this.placeholder = 'Email Address '" required="" type="email">#}
{#                                <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>#}
{#                            </div>#}
{#                            <div class="mt-10 info"></div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-md-8 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                {{ 'label.copyright'|trans }} <a href="https://voixdesfemmes.org"
                                                 target="_blank">{{ 'label.titre'|trans }}</a> |
                This
                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
                by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-md-4 footer-social">
                <a href="https://www.facebook.com/VoixDesFemmesBenin/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/VoixDesFemmes1" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/voix_des_femmes" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('public/js/popper.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/js/stellar.js') }}"></script>
<script src="{{ asset('public/vendors/lightbox/simpleLightbox.min.js') }}"></script>
<script src="{{ asset('public/vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('public/vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('public/vendors/isotope/isotope-min.js') }}"></script>
<script src="{{ asset('public/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('public/js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ asset('public/js/mail-script.js') }}"></script>
<script src="{{ asset('public/js/theme.js') }}"></script>

<script type="text/javascript">
    // Ajouter la class active pour les menus
    $(document).ready(function () {
        var url = window.location;
        $('ul.menu_nav li a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
        // console.log( $('ul.menu_nav li a').parent())
    });
</script>
<!-- Compiled and minified JavaScript -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
