{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    {% endblock %}
{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Error</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Error Area =================-->
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>500</h1>
            </div>
            <h2>Oops, The Page you are looking for can't be found!</h2>
            <a href="{{ path('home.public') }}" class="main_btn mt-4" >Return To Homepage</a>
        </div>
    </div>
    <!--================End Error Area =================-->

{% endblock %}